/*Core Styles*/

html { 
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: serif;
	background: black;
	color: white;
	font-weight: lighter;
	font-size: 1.1em;
	line-height: 1.5;
	text-align: center;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

h1 h2 h3 {
	margin: 0;
	padding: 1em 0;
}

p {
	margin: 0;
	padding: 1em 0;
}

.btn {
	display: inline-block;
	background: gray;
	color: white;
	border-color: gray;
	text-decoration: none;
	margin: .5em 0;
	padding: 1em 2em;
	border: 1px solid white;
}

.btn:hover {
	background: black;
	color: white;
	border-color: gray;
}

/*Header Showcase */

#showcase {
	min-height: 950px;
	color: white;
	text-align: center;
}

#navbar-home { 
	position: fixed;
	z-index: 20;
}

#showcase li, #showcase a {
	display: inline;
	font-family: serif;
	font-size: 20px;
	font-weight: lighter;
	color: black;
	border-color: gray;
	letter-spacing: .3em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

#showcase li a:hover {
	color: gray;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
    background: linear-gradient(90deg, #000000, #707070, #000000 15%);
    background-size: 500% 500%;
	-webkit-background-clip: text;
	background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
	letter-spacing: .2em;
}

#showcase .bg-image {
	position: absolute;
	background: black url("/img/banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 950px;
	z-index: -1;
	opacity: 0.8;
}

#showcase h1 {
	padding-top: 100px;
	padding-bottom: 0;
}

#showcase .content-wrap,
#section-a .content-wrap {
	padding: 0 1.5em;
}

/*Portfolio Header*/

#nav-bar {
	min-height: 0px;
	font-family: serif;
	font-size: 22px;
	font-weight: lighter;
	letter-spacing: .2em;
	word-spacing: .3em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
	color: white;
	text-align: center;
}

#nav-bar li, #nav-bar a {
	font-family: serif;
	font-weight: lighter;
	display: inline;
 	color: white;
 	list-style: none;
	text-decoration: none;
}

#nav-bar a:hover {
	color: gray;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	background: linear-gradient(90deg, #ffffff, green, #ffffff 15%);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: .2em;
}

/*Section-A*/

#section-a {
	background: black;
	color: white;
	padding-bottom: 2em;
}

#section-a img {
	width: 400px;
	height: 600px;;
}

#section-a .content-text {
	position: relative;
	top: 50%;
	right: 90%;
	font-family: serif;
	font-size: 17px;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

#section-a .content-title {
	font-family: serif;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

/*Section-B*/

#section-b {
	padding: 2em 1em 1em;
}

#section-b ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#section-b li {
	margin-bottom: 1em;
	background: black;
	color: white;
}

.card-content {
	padding: 1em;
}

.card-title {
	font-family: serif;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

/* Section-C */

#section-c .content-title {
	background: black;
	color: white;
	padding: em;
	line-height: 0;
	font-family: serif;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

.email {
	color: gray;
	font-family: 'Times New Roman', Times, serif;
	font-style: italic;
	background: linear-gradient(90deg, #000, green, #ffffff 15%);
	background-size: 400% 400%;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	font-size: 20px;
}

/* Section-D */

#section-d .content-title {
	padding: .5em;
	color: white;
	font-family: serif;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

#section-d .box:first-child {
	background: black;
}

/*Footer*/

#main-footer {
	padding: 2em;
	background: black;
	color: white;
	text-align: center;
	font-family: serif;
	font-weight: lighter;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

#main-footer a {
	color: green;
	font-family: 'Aguafina Script', cursive;
	letter-spacing: .2em;
 	list-style: none;
	text-decoration: none;
	text-transform: none;
}

#main-footer .signature {
	font-family: 'Aguafina Script', cursive;
	font-style: italic;
	letter-spacing: .07em;
}

/* Media Queries */

@media (min-width: 700px) {
	.grid {
		display: grid;
		grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
	}

	#showcase a:hover {
		color: gray;
	}

	#showcase li, #showcase a {
		display: inline;
		font-family: serif;
		font-weight: lighter;
		color: black;
		letter-spacing: .3em;
		list-style: none;
		text-decoration: none;
	}

	#showcase li a:hover {
		color: gray;
		font-family: 'Times New Roman', Times, serif;
		font-style: italic;
		background: linear-gradient(90deg, #ffffff, #707070, #ffffff 15%);
		background-size: 500% 500%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	
	#section-a .content-text {
		position: relative;
		right: 900px;
		columns: 1;
		column-gap: 2em;
	}
	
	#section-a .content-text p {
		padding-top: 0;
	}

	.content-wrap,
	#section-b ul {
			grid-column: 2/4;
	}
	
	.box, #main-footer div {
			grid-column: span 2;
		}
	
	#section-b ul {
		display: flex;
		justify-content: space-around;
	}
	
	#section-b li {
		width: 31%;
	}
	
}

@media (min-width: 440px) {

	#showcase li, #showcase a {
		display: inline;
		font-family: serif;
		font-weight: lighter;
		color: white;
		letter-spacing: .3em;
		list-style: none;
		text-decoration: none;
	}

	#showcase li a:hover {
		color: gray;
		font-family: 'Times New Roman', Times, serif;
		font-style: italic;
		background: linear-gradient(90deg, #000, green, #ffffff 15%);
		background-size: 400% 400%;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		text-transform: uppercase;
		letter-spacing: .2em;
	}
	
	#section-a p {
	position: relative;
	right: 90%;
	left: 90%;
	}
}